/* Vue */
[v-cloak] {
    position: relative;
}
[v-cloak] > * {
    visibility: hidden;
}
[v-cloak]:before {
    content:"";
    background: url("../images/ajax-loader.gif") no-repeat top center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
div[data-pending="true"]:before {
    background: #fff;
    opacity: 0.9;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
}
div[data-pending="true"]:after {
    content: "Processing... Please wait...";
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1002;
    text-align: center;
    color: #222;
    font-size: 18px;
    font-style: italic;
} 
.body {
    background-image: url('/images/bg.gif');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
}
body {
    position: relative;
    background: #274161;
    overflow-x: hidden;
    width: 100%;
}
.container {
    position: relative;
    z-index: 3;
}
label {
    color: orange;
    text-shadow: 0 0 4px #000;
}
select,
input[type="date"],
input[type="text"]{
    color: orange;
    text-shadow: 0 0 3px #222;
    background: none;
    border: orange 1px solid;
    padding: 5px;
    border-radius: 3px;
    color-scheme: dark;
}
.text-orange{
    color: orange;
    text-shadow: 0 0 3px #222;
}
input[type="text"]{
    width: 60px;
}
.bg {
    position: fixed;
    left: 50%;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    transform: translate(-50%, 20%);
}
.train {
    position: fixed;
    left: 100%;
    bottom: 0;
    z-index: 2;
    transform: translate(0%, -64%);
    width: 55%;
    height: auto;
}


.train {
    animation: scan 30s ;
    /* animation-delay: 5s; */
}
.train.pause {
    animation-play-state: paused;
}

@keyframes scan {
    0% { transform:translate(0%, -64%)}
    30% { transform:translate(-144%, -64%)}
    50% { transform:translate(-144%, -64%)}
    100% { transform:translate(-400%, -64%)}
}

.px {
    width: 12px;
    height: 12px;
    color: #856404;
    background-color: #fff3cd;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin: 4px;
    box-shadow: 0 0 3px #333;
    position: relative;
    cursor: pointer;
}

.px2 {
    background: yellow;
    color: white;
}
.px1 {
    background: orange;
    color: white;
}
.px0 {
    background: orange;
    color: white;
}

.px-point {
    width: 100px; 
    top: -3px;
    left: 100%; 
    position: absolute;
    text-align: left;
    z-index: 5;
    margin-left: 2px;
    font-size: 12px;
    text-shadow: 0 0 5px #222;
}
.px-point2 {
    width: 100px; 
    top: -3px;
    right: 100%; 
    position: absolute;
    text-align: right;
    z-index: 5;
    margin-right: 2px;
    font-size: 12px;
    text-shadow: 0 0 5px #222;
}

/* Breakpoints */
/* ≥1200px Extra large */
@media (max-width:1200px){

}

/* ≥992px	Large */
@media (max-width:992px){

}

/* ≥768px	Medium */
@media (max-width:768px){
    .bg {
        
        transform: translate(-50%, 0);
    }
    .train {
       
        transform: translate(0%, -257%);
    }
    
    
   
    
    @keyframes scan {
        0% { transform:translate(0%, -257%)}
        30% { transform:translate(-144%, -257%)}
        50% { transform:translate(-144%, -257%)}
        100% { transform:translate(-400%, -257%)}
    }
}

/* ≥576px	Small */
@media (max-width:576px){
  
}

@media (max-width:375px){
    
}
