<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="https://kosinix.github.io/your-life-in-pixels/" />
    <!-- <base href="http://127.0.0.1:9293" /> -->
    <meta property="og:url" content="https://kosinix.github.io/your-life-in-pixels/" />
    <meta property="og:title" content="Your Life in Pixels" />
    <meta property="og:description" content="Time. Are you spending it wisely?" />
    <meta property="og:image" content="https://kosinix.github.io/your-life-in-pixels/images/train.png" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Your Life in Pixels</title>
</head>

<body>
    <div id="vApp" v-cloak class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                
                <!-- <h1 class="h5 mb-5">Your Life in Pixels</h1> -->
                <div class="page" v-if="page==1">
                    <div class="form-row align-items-center mb-4 mt-5">
                        <div class="col-md-12 text-md-left d-flex justify-content-center">
                            <label for="birthDate mb-0">When is your birthday?</label>
                        </div>
                        <div class="col-md-12 text-md-left d-flex justify-content-center">
                            <select v-model="birthMonth" @change="onMonthChange" name="birthMonth" id="birthMonth">
                                <option v-for="month in months" :value="month|formatDate('MM')">${month|formatDate('MMMM')}</option>
                            </select>
                            <select v-model="birthDay" name="birthDay" id="birthDay" class="ml-1 mr-1">
                                <option v-for="day in days" :value="day|padStart(2, '0')">${day}</option>
                            </select>
                            <input @change="onChange" @keypress="isNumber($event)" v-model="birthYear" id="birthYear" name="birthYear" type="text" maxlength="4" minlength="4">
                            <button v-if="age > 5 && age < 100" @click="page=2" class="btn btn-warning ml-1 mr-1" type="button">Start</button>
                        </div>
                    </div>
                    <div class="form-row align-items-center mb-4">
                        <div class="col-md-12 d-flex flex-wrap">
                            <div v-if="error" class="d-inline-block alert alert-warning">${error}</div>
                        </div>
                    </div>
                </div>
                <div v-if="page==2" class="page">
                    <div class="form-row align-items-center mb-4">
                        <div class="col-md-12 d-flex flex-wrap justify-content-center">
                            <div class="mb-2 d-inline-block alert alert-warning">You are ${age} years old</div>
                        </div>
                    </div>
                    <div class="form-row align-items-center mb-4">
                        <div class="col-md-12 d-flex flex-wrap justify-content-center">
                            <button @click="page=3" class="btn btn-warning ml-1 mr-1" type="button">Next</button>
                        </div>
                    </div>
                </div>
                <div v-if="page==3" class="page">
                    <div class="form-row align-items-center mb-4">
                        <div class="col-md-12 d-flex flex-wrap justify-content-center">
                            <div class="mb-2 d-inline-block alert alert-warning">${agePackString}</div>
                        </div>
                    </div>
                    <div class="form-row align-items-center mb-4">
                        <div class="col-md-12 d-flex flex-wrap justify-content-center">
                            <button @click="page=4" class="btn btn-warning ml-1 mr-1" type="button">Next</button>
                        </div>
                    </div>
                </div>
                <div v-if="page==4" class="page">
                    <div v-if="age" class="form-row align-items-center mb-4">
                        <div class="col-md-12 mb-4">
                            <p class="text-orange">If each pixel <span class="px px0"></span> is 1 year of your life, 
                        </div>
                        
                        <div class="col-md-12">
                            <button @click="page=4.1" class="btn btn-warning ml-1 mr-1" type="button">Next</button>
                        </div>
                    </div>
                </div>
                <div v-if="page==4.1" class="page">
                    <div v-if="age" class="form-row align-items-center mb-4">
                        <div class="col-md-12 mb-4">
                            <p class="text-orange">If each pixel <span class="px px0"></span> is 1 year of your life, <br><br> this is your life over a 100-year period:</p>
                        </div>
                        <div class="col-md-12 mb-4 ">
                            <div v-for="chunk in pixels" class="d-flex flex-wrap justify-content-center">
                                <div :class="pixelize1(px)" v-for="px in chunk" :title="`Year ${px}`">
                                    <small v-if="px==100" class="text-white px-point">← 100th year</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button @click="page=5" class="btn btn-warning ml-1 mr-1" type="button">Next</button>
                        </div>
                    </div>
                </div>
                <div v-if="page==5" class="page">
                    <div v-if="age" class="form-row align-items-center mb-4">
                        <div class="col-md-12 mb-4">
                            <p class="text-orange">However, the average human life is only 71, <br><br> this is your life over a 71-year period:</p>
                        </div>
                        <div class="col-md-12 mb-4 ">
                            <div v-for="chunk in pixels" class="d-flex flex-wrap justify-content-center">
                                <div :class="pixelize(px)" v-for="px in chunk" :title="`Year ${px}`">
                                    <small v-if="px==71" class="text-white px-point2">71 years →</small>
                                    <small v-if="px==100" class="text-white px-point">← 100th year</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button @click="page=5.1" class="btn btn-warning ml-1 mr-1" type="button">Next</button>
                        </div>
                    </div>
                </div>
                <div v-if="page==5.1" class="page">
                    <div v-if="age" class="form-row align-items-center mb-4">
                        <div class="col-md-12 mb-4">
                            <p v-if="Math.round(age/71*100) < 100" class="text-orange">You have now colored ${Math.round(age/71*100)}% of your pixels...</p>
                            <p v-else class="text-orange">Congratulations for a very long life <br> consider this your bonus years.</p>
                        </div>
                        <div class="col-md-12 mb-4 ">
                            <div v-for="chunk in pixels" class="d-flex flex-wrap justify-content-center">
                                <div :class="pixelize(px)" v-for="px in chunk" :title="`Year ${px}`">
                                    <small v-if="px==71" class="text-white px-point2">71 years →</small>
                                    <small v-if="px==100" class="text-white px-point">← 100th year</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button @click="page=6" class="btn btn-warning ml-1 mr-1" type="button">Next</button>
                        </div>
                    </div>
                </div>
                <div v-if="page==6" class="page">
                    <div v-if="age" class="form-row align-items-center mb-4">
                        <div class="col-md-12 mb-4">
                            <p class="text-orange">Time is the most precious commodity. <br>Are you spending it wisely?</p>
                        </div>
                        <div class="col-md-12">
                            <a class="btn btn-warning text-white ml-1 mr-1 d-inline-flex align-items-center" :href="share">
                                <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" viewBox="0 0 24 24"><title>FB</title><path fill="white" d="M12 2.04C6.5 2.04 2 6.53 2 12.06C2 17.06 5.66 21.21 10.44 21.96V14.96H7.9V12.06H10.44V9.85C10.44 7.34 11.93 5.96 14.22 5.96C15.31 5.96 16.45 6.15 16.45 6.15V8.62H15.19C13.95 8.62 13.56 9.39 13.56 10.18V12.06H16.34L15.89 14.96H13.56V21.96A10 10 0 0 0 22 12.06C22 6.53 17.5 2.04 12 2.04Z" /></svg>
                                <span class="ml-1">Share on FB</span>
                            </a>
                            <p class="text-orange" style="position: fixed; bottom: 0; left: 0; width: 100%; text-align: center;"><em>by <br><a class="text-orange" href="https://kosinix.github.io">Nico Amarilla</a></em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="bg" src="images/bg.jpg" alt="" width="1920" height="1919">
    <img class="train pause" src="images/train.png" id="train" alt="" width="1037" height="195">

    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/vue.js"></script>
    <script>
        
        let timer1 = null
        let vApp = new Vue({
            el: '#vApp',
            delimiters: ["${", "}"],
            mixins: [
            ],
            data: {
                pending: false,
                page: 1,
                birthMonth: '01',
                birthDay: '01',
                birthYear: '',
                error: '',
                pixels: [],
                months: [],
                days: [],
                agePackString: '',
                share: `https://facebook.com/sharer/sharer.php?u=https://kosinix.github.io/your-life-in-pixels/`
            },
            filters: {
                formatDate: function(date, format){
                    return moment(date).format(format)
                },
                padStart: function(day, length, format){
                    return (new String(day)).padStart(length, format)
                },
            },
            mounted: function(){
                const me = this

                me.months = Array.from(Array(12).keys()).map(i => moment().startOf('year').month(i))
                me.days = Array.from(Array(31).keys()).map(i => i + 1)

                jQuery('#birthYear').focus()
                me.birthDay = '15'
                me.birthMonth = '09'
                me.birthYear = '1986'
                me.onChange()
                me.page = 4


                let doTrain = () => {
                    jQuery('.train').removeClass('pause')
                    // let timer = setTimeout(()=>{
                    //     jQuery('.train').addClass('pause')
                    // }, 9000)
                }
                if (document.getElementById('train').complete) {
                    doTrain()
                } else {
                    document.getElementById('train').addEventListener('load', function(){
                        doTrain()
                    })
                }
            },
            watch: {
                page: function(current, before){
                    const me = this
                    console.log(current, before)
                    if(current == 2){
                        // jQuery('.train').removeClass('pause')
                    }
                    if(current == 3){
                        let fn = () => {
                            let agePack = me.getAgePack()
                            me.agePackString = `${agePack.years} years, ${agePack.months} months, ${agePack.days} days, ${agePack.hours} hours, ${agePack.minutes} minutes and ${agePack.seconds} seconds old to be exact`
                        }
                        if(timer1){
                            clearInterval(timer1)
                            timer1 = null
                        }
                        timer1 = setInterval(fn, 1000)
                        fn()
                    }
                    if(before == 3){
                        if(timer1){
                            clearInterval(timer1)
                            timer1 = null
                        }
                    }
                }
            },
            computed: {
                
                age: function(){
                    const me = this
                    let mDate = moment()
                    let mBirthDate = moment(`${me.birthYear}-${me.birthMonth}-${me.birthDay}`, 'YYYY-MM-DD', true)
                    if(mBirthDate.isValid()){
                        return mDate.diff(mBirthDate, 'years')
                    }
                    return 0
                },
                agePack: function(){
                    const me = this
                    let mDate = moment()
                    let mBirthDate = moment(`${me.birthYear}-${me.birthMonth}-${me.birthDay}`, 'YYYY-MM-DD', true)
                    if(mBirthDate.isValid()){
                        let m = moment.duration(mDate.diff(mBirthDate))
                        return {
                            years: m.years(),
                            months: m.months(),
                            days: m.days(),
                            hours: m.hours(),
                            seconds: m.seconds(),
                        }
                    }
                    return {
                        years: 0,
                        months: 0,
                        days: 0,
                        hours: 0,
                        seconds: 0,
                    }
                }
            },
            
            methods: {
                getAgePack: function(){
                    const me = this
                    let mDate = moment()
                    let mBirthDate = moment(`${me.birthYear}-${me.birthMonth}-${me.birthDay}`, 'YYYY-MM-DD', true)
                    if(mBirthDate.isValid()){
                        let m = moment.duration(mDate.diff(mBirthDate))
                        return {
                            years: m.years(),
                            months: m.months(),
                            days: m.days(),
                            hours: m.hours(),
                            minutes: m.minutes(),
                            seconds: m.seconds(),
                        }
                    }
                    return {
                        years: 0,
                        months: 0,
                        days: 0,
                        hours: 0,
                        minutes: 0,
                        seconds: 0,
                    }

                    //return `You are ${agePack.years} years, ${agePack.months} months, ${agePack.days} days, ${agePack.hours} hours and ${agePack.seconds} seconds old`
                },
                roundOff: function(number, precision = 2) {
                    number = parseFloat(number)
                    precision = parseInt(precision)
                    let factor = Math.pow(10, precision)
                    let n = precision < 0 ? number : 0.01 / factor + number
                    return Math.round( n * factor) / factor
                },
                isNumber: function(evt) {
                    evt = (evt) ? evt : window.event;
                    var charCode = (evt.which) ? evt.which : evt.keyCode;
                    if (charCode >= 48 && charCode <= 57) { // Allow only 0-9
                        return true
                    }
                    evt.preventDefault();;
                },
                onMonthChange: function(){
                    const me = this
                   
                },
                onChange: function(){
                    const me = this
                    me.error = ''
                    if(me.age > 1000){
                        me.error = ''

                    } else if(me.age > 100){
                        me.error = `Are you sure you are ${me.age} years old??`

                    } else if (me.age <= 5){
                        me.error = 'You are too young to use this...'

                    } else {
                        me.error = ''
                        // me.pixels = Array.from(Array(100).keys()).map(i => i + 1 )
                        me.pixels = _.chunk(Array.from(Array(100).keys()).map(i => i + 1 ), 10)
                        // me.page = 2
                    }
                },
                pixelize: function(px){
                    let px1 = (px <= this.age) ? 'px1' : ''
                    let px2 = (px <= 71) ? 'px2' : ''
                    return `px ${px1} ${px2}`
                },
                pixelize1: function(px){
                    let px1 = (px <= this.age) ? 'px1' : ''
                    return `px ${px1}`
                },
            }
        })
    </script>
</body>

</html>